{% extends "../base/base.html" %}
{% load static %}
{% block content %}




<div id="content-wrapper" class="d-flex flex-column">
	<div class="container-fluid">

		<!-- Page Heading -->
		<div>
                       <center> <h1 class="text-WHITE">Traducción</h1> </center>

        </div>

		<div class="card-group">
			<div class ="card">
			<div class ="card-header">
			<a>Hola, {{user}}! El artículo en el que estás trabajando es</a>
			</div>
			<div class ="card-body">
			{% if article_assigned %}
				<div class="div-table">
				{% for article_item in article_assigned %}
				<div class="form-tr">
				
				<span class="span-td-borde"><a href={{article_item.urlEn}} target="_blank" rel="noopener noreferrer">{{article_item.titleEn}}</a></span>
				<span class="span-td-borde"><a href={{article_item.urlEs}} target="_blank" rel="noopener noreferrer">{{article_item.titleEs}}</a></span>
				<span class="span-td-borde">{{article_item.universe.universe}}</span>
				{% if article_item.urldrive is not null %}
				<span class="span-td-borde"><a href={{article_item.urldrive}} target="_blank" rel="noopener noreferrer"><button class="btn btn-sm btn-info">Archivo Drive</button></a></span>
				{% endif %}
				</div>
				 <form method="post" id="form-traducido"  class="form-tr">
						{% csrf_token %}
					 	 <input type="hidden" id="custId" name="articleID" value={{article_item.id}}>
						<span class="span-td-no-borde">
							<textarea name="notes" id="formtraducidonotas" placeholder="¿Algo que comentar?">{{article_item.notes}}</textarea>
						</span>
						<span class="span-td-no-borde">
					<input name="form-translate" type="submit" value="Marcar como traducido" class="btn btn-success btn-sm text-WHITE"></input>
					</span>
				</form>

				{% endfor %}

				</div>


			{% else %}
				<p>Oh vaya, no parece que estés trabajando ahora en nada</p>
                <p><img src="{% static 'img/travoltar.gif' %}" width="250" alt="nothing" /></p>
			{% endif %}
			</div>
			</div>
			<div class ="card">
			<div class ="card-header">
			<a> El siguiente artículo disponible:</a>
			</div>
			<div class ="card-body">
			<table class="table table-hover">
				<tbody>
				{% for next_articles_to_assign_item in next_articles_to_assign %}
				<tr>
				<td><a href={{next_articles_to_assign_item.urlEn}} target="_blank" rel="noopener noreferrer">{{next_articles_to_assign_item.titleEn}}</a></td>
				<td><a href={{next_articles_to_assign_item.urlEs}} target="_blank" rel="noopener noreferrer">{{next_articles_to_assign_item.titleEs}}</a></td>
				<td>{{next_articles_to_assign_item.universe.universe}}</td>
				<td>
				<form method="POST" id="form">
					{% csrf_token %}
					 <input type="hidden" id="universe" name="nextArticleUniverse" value={{next_articles_to_assign_item.universe}}>
					<input name="form-next-article" type="submit" value="Asignar" class="btn btn-success btn-sm text-WHITE"></input>
				</form>
				</td>
				</tr>
			{% endfor %}
				</tbody>
			</table>
			</div>
			</div>			
		</div>
		<div>
			<center> <h6 class="text-WHITE">Recuerda, si tienes alguna duda sobre el proceso, puedes consultarlo aquí: 
				<a class="text-info" href="https://sites.google.com/view/ayuda-traduccion-coppermind/inicio" target="_blank" rel="noopener noreferrer">Página de Ayuda</a>
			</h6> </center>	
		</div>
		
</div>
{% endblock %}
