body {
    background: url("/static/img/Sasori-wallpaper.jpg") no-repeat center center fixed;
    display: flex;
	flex-direction: column;
	height: 100vh;
}
main {
	flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
	height: 30px;
	background-color: rgba(255, 255, 255, 0.2);
  line-height: 30px;
  text-align: center;
  border-top:solid;
  border-color:#fe9600
}

header {
  flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-bottom:solid;
  border-color:#fe9600
}

ul.nav a:hover, ul.nav a:focus { color: #fff !important; }

a{
  color: black;
  background-color: transparent;
}

.th-articles, .td-articles {
    background: transparent !important;
    border-color: white;
  }

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #fe9600;
}


.text-cosmere{
    color: #fe9600;
}

.bg-cosmere{
    background-color: #fe9600;
}

.bg-cosmere-soft{
    background-color: #feb040;
}

.container-topbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.form-inline-search{
    display: flex;
    flex-direction: row;
    align-items:center;
}

.assign-button {
    width: 90px;
    white-space: normal;
    border: 1px solid #fe9600;
    border-radius: 0.25em;
    box-shadow: 0 0.25em 0 0 #fe9600;

}

.btn-cosmere {
    background-color:#fe9600;
    font-weight : bold ;
    border:none;
}

.btn-cosmere:hover {
      background-color:#feb040;
      transition: 0.7s;
      font-weight : bold ;
  }

.btn-cosmere:disabled {
      background-color:#fe9600;
      font-weight : bold ;
  }

.table-form
{
	display:table;
	width: 100%;
}

.thead-form
{
	display:table-row;
	font-weight:bold;
}

.th-form
{
  display:table-cell;
  padding: 0.75rem;
  vertical-align: top;
}

.tbody-form
{
	display:table-row-group;
}

.tr-form
{
	display:table-row;
}

.td-form
{
  display:table-cell;
  padding: 0.75rem;
  vertical-align: middle!important;
  border-top: 1px solid white;
}

.form-check-input{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(254, 150, 0, 1)'/%3e%3c/svg%3e") !important;
}

.form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e") !important;
    background-color: #fe9600 !important;
    border-color: #fe9600 !important;
}

.form-check-input:focus {
     border-color: rgba(254, 150, 0, 0.8);
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 150, 0, 0.6);
     outline: 0 none;
}

.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px;
}
.progress-outer{
    background: #fff;
    padding: 5px 5px 5px 5px;
    border: 5px solid #fe9600;
    border-radius: 45px;
    margin-bottom: 20px;
    position: relative;
}
.progress{
    background: #d3d3d3;
    border-radius: 20px;
    margin: 0;
}
.progress .progress-bar{
    box-shadow: none;
    animation: animate-positive 2s;
}

@keyframes animate-positive{
    0%{ width: 0; }
}

.progress .progress-bar-cosmere{
    background-color: #fe9600;
}

.progress .progress-bar-cosmere-dark{
    background-color: #9F5E00;
}

.progress .innerProgress {
  position: absolute;
  width: 90%;
  text-align: right;
  overflow: visible;
}

.counter{
    color: #555;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 150px;
    width: 150px;
    padding: 20px 15px 15px;
    margin: 0 auto;
    border: 3px solid #ffffff;
    border-radius: 10px 10px;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: "";
    background: #d3d3d3;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgba(0,0,0,0.2);
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}
.counter:after{
    background: transparent;
    width: 75px;
    height: 75px;
    border: 10px solid #fe9600;
    border-top: none;
    border-right: none;
    border-radius: 0 0 0 10px;
    box-shadow: none;
    top: auto;
    left: -5px;
    bottom: -5px;
    right: auto;
}
.counter .counter-icon{
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-icon{ transform: rotateY(360deg); }
.counter .counter-value{
    color: #555;
    font-size: 20px;
    font-weight: 600;
    line-height: 10px;
    margin: 0 0 10px;
    display: block;
    transition: all 0.3s ease 0s;
}
.counter:hover .counter-value{ text-shadow: 2px 2px 0 #d1d8e0; }
.counter h3{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px;
}

@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}